@import "../../shared/scss/variables";

.transaction-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  &.income {
    background-color: $green;
    mat-icon {
      transform: rotate(180deg);
    }
  }

  &.expense {
    background-color: $red;
  }
}

mat-icon {
  width: 20px;
  height: 20px;
}
