@import "../../shared/scss/variables";

:host,
mat-drawer-container {
  height: 100%;
}

.container {
  padding: 20px 20px 0px 20px;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $bg-primary;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__accounts {
    flex-basis: 25%;
    max-height: 80vh;
  }

  &__controls {
    flex-basis: 20%;
  }

  &__modal {
    max-width: 600px;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: $bg-secondary;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.25);
  }
}

router-outlet {
  position: absolute;
}
