:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  padding: 20px 20px 0px 20px;
}

.main {
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__accounts {
    flex: 1 0 auto;
  }
  &__view {
    flex: 1 0 auto;
  }
}
