@import "../../shared/scss/variables";

:host,
mat-drawer-container {
  height: 100%;
}

.container {
  padding: 20px 20px 0px 20px;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $bg-primary;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__accounts {
    flex-basis: 25%;
    max-height: 80vh;
  }

  &__controls {
    flex-basis: 20%;
  }
}

router-outlet {
  position: absolute;
}
