<mat-drawer-container>
  <mat-drawer-content class="main">
    <app-header></app-header>
    <div class="container">
      <div class="main__content">
        <app-accounts *ngIf="this.areAccountsVisible()" class="main__accounts scroll">
        </app-accounts>
        <router-outlet></router-outlet>
        <app-controls class="main__controls"></app-controls>
      </div>
    </div>
  </mat-drawer-content>
  <mat-drawer #rightPanel position="end" class="main__modal">
    <ng-template [cdkPortalOutlet]="panelService.panelPortal | async"></ng-template>
  </mat-drawer>
</mat-drawer-container>
