/* You can add global styles to this file, and also import other style files */
@import "app/shared/scss/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  user-select: none;
}

a {
  text-decoration: none;
  color: $white;
}

.scroll {
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.control-item {
  & > .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  svg {
    display: block;
  }
}

*::-webkit-scrollbar {
  display: none;
}

.controls__filters-btn {
  &:first-child {
    .mat-icon {
      margin-top: 3px;
    }
  }
  &:last-child {
    .mat-icon {
      margin-bottom: 3px;
    }
  }
}
