<div class="entity-view scroll">
  <div class="entity__header">
    <h3 class="entity__title">Account Information</h3>
    <div class="entity__icons">
      <button mat-icon-button>
        <mat-icon svgIcon="edit" (click)="edit()"></mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon svgIcon="delete"></mat-icon>
      </button>
      <button mat-icon-button (click)="close()">
        <mat-icon svgIcon="close"></mat-icon>
      </button>
    </div>
  </div>
  <mat-list class="entity-view__content">
    <mat-list-item>
      <span class="entity-view__property">Title:</span>
      <span class="entity-view__text">{{account.title}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="entity-view__property">Balance:</span>
      <span class="entity-view__text">{{account.balance | number: '1.2-2'}}{{account.currency.symbol}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="entity-view__property">Currency:</span>
      <span class="entity-view__text">{{account.currency.cc}} ({{account.currency.symbol}})</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="entity-view__property">Description:</span>
      <span class="entity-view__text">{{account.description}}</span>
    </mat-list-item>
  </mat-list>
  <div class="entity__footer"><button mat-button (click)="close()">close</button></div>
</div>
