<mat-toolbar color="primary">
  <a class="header__main-link" routerLink="/">Budgetify</a>
  <span class="fill-remaining-space"></span>
  <button mat-button routerLink="categories" routerLinkActive="active">Categories</button>
  <button mat-button routerLink="statistics" routerLinkActive="active">Statistics</button>
  <span class="fill-remaining-space"></span>
  <button class="user" mat-button [matMenuTriggerFor]="menu" *ngIf="user$ | async as user">
    <mat-icon svgIcon="user"></mat-icon>{{user.firstName + ' ' + user.lastName}}
  </button>
  <mat-menu #menu="matMenu" xPosition="after">
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>Log out
    </button>
  </mat-menu>
</mat-toolbar>
