@import "../../../shared/scss/variables";

.account__item {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  min-height: 150px;
  width: 100%;
  margin-bottom: 40px;
  color: $white;
  background-image: url("/assets/images/account-bg.jpg");
  background-position: center;
  opacity: 0.4;
  cursor: pointer;
  border-radius: 10px;

  &.active {
    filter: drop-shadow(5px 10px 20px $shadow-black);
    opacity: 1;
  }

  &-title {
    text-transform: capitalize;
    line-height: 1.2;
  }

  &-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &:nth-child(2) {
      align-items: center;
    }
  }

  &-subtitle {
    font-size: 35px;
  }

  &-currency {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 15px;
    width: 60px;
    height: 60px;
    background-color: $white;
    color: $violet-light;
    font-size: 45px;
    text-align: center;
  }

  &-icon {
    margin-bottom: 0;
    color: $black;
  }
}
