@import "./variables";

.entity-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: $text-dark;

  &__property {
    flex-basis: 40%;
    font-weight: 700;
  }
}

.entity {
  &__header {
    position: absolute;
    top: 20px;
    left: 35px;
    right: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
  }

  &__title {
    font-size: 32px;
    margin-bottom: 0;
  }

  &__form {
    height: auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
  }

  &__footer {
    position: absolute;
    bottom: 20px;
    right: 35px;
    align-self: flex-end;
    margin-top: auto;
    button {
      text-transform: uppercase;
    }
  }

  &__save-btn {
    background-color: $blue;
    margin-left: 5px;
  }

  &__toggles {
    align-self: flex-start;
    margin-bottom: 20px;
  }
}

app-transaction-icon {
  display: inline-grid;
  margin-right: 10px;
}
