<mat-card class="transaction-item" (click)="viewTransaction()">
  <div class="transaction-item__content">
    <div class="transaction-item__category">
      {{ transaction.categories[0]?.title }}
    </div>
    <div class="transaction-item__body">
      <mat-card-title class="transaction-item__title"> {{transaction.title || transaction.categories[0]?.title}}
      </mat-card-title>
      <div class="transaction-item__details">
        <app-transaction-icon class="transaction-item__icon" [type]="transaction.type"></app-transaction-icon>
        <span>{{transaction.type}}</span>
        <span>· {{transaction.date | date}}</span>
        <span>· {{transaction.payee || '--' }} </span>
      </div>
    </div>
    <div class="transaction-item__amount" [ngClass]="transaction.type">
      {{transaction.type === 'expense' ? '-' : ''}}{{ transaction.amount | number: '1.2-2' }}{{currencySymbol}}
    </div>
  </div>
</mat-card>
