<div class="entity__header">
  <h3 class="entity__title"> {{this.formService.isEditing ? 'Edit' : 'Add'}} Account </h3>
  <div class="entity__icons">
    <button mat-icon-button (click)="close()">
      <mat-icon svgIcon="close"></mat-icon>
    </button>
  </div>
</div>
<form [formGroup]="accountForm" (submit)="saveAccount()" class="entity__form">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" type="text" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Currency</mat-label>
    <mat-select formControlName="currency">
      <mat-option *ngFor="let currency of currenciesService.getAccountCurrencies()" [value]="currency.cc">
        {{ currency.cc }} ({{ currency.symbol }})</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" type="text" />
  </mat-form-field>
  <div class="entity__footer">
    <button mat-button (click)="cancel()" type="button">Cancel</button>
    <button mat-button type="submit" class="entity__save-btn">save</button>
  </div>
</form>
